@font-face {
  font-family: 'ObjektivMk2W03';
  src: url('/fonts/objektiv/ObjektivMk2W03-Bold.woff') format('woff'),
  url('/fonts/objektiv/ObjektivMk2W03-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ObjektivMk2W03';
  src: url('/fonts/objektiv/ObjektivMk2W03-Light.woff') format('woff'),
  url('/fonts/objektiv/ObjektivMk2W03-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Regular.woff') format('woff'),
  url('/fonts/open-sans/OpenSans-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
