html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

body { margin: 0; }

// @see http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea { touch-action: manipulation; }

// Remove image borders in IE<10
a, img {
  border:none;
  outline:none;
}

img { max-width: 100%; }

[hidden] { display: none !important; }