/*******************************************************************************
 * Grid component
 ******************************************************************************/

/**
 * Center within a responsive fixed width
 * Use modifier classes defined in _width.scss to change said fixed width
 */
.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/**
 * - .row contains one or more .column(s)
 * - .row clears .column(s)
 * - .row negates the left & right padding of it's left-most & right-most
 *   .column(s) while preserving consistent padding between .column(s)
 */
.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.row:after {
  display: block;
  clear: both;
  content: "";
}

/**
 * - .column is 100% width by default
 * - Modifier classes are applied to .column to change it's width
 * - Modifier classes behave differently on different device widths
 */
.column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* - .column(s) within .row .reverse appear in reverse order
 * - .column(s) within [dir=rtl] appear in reverse order respectively
 */
.column {
  float: left;
}

.reverse .column {
  float: right;
}

@media(min-width: $sm-breakpoint) {
  .one-half,
  .one-fourth {
    width: 50%;
  }
}

@media(min-width: $md-breakpoint) {
  .one-third {
    width: 33.333333%;
  }

  .two-thirds {
    width: 66.666667%;
  }
}

@media(min-width: $lg-breakpoint) {
  .one-fourth {
    width: 25%;
  }

  .three-fourths {
    width: 75%;
  }
}
