/* Global styles
 ****************************************************************************/

.page-solutions #content { padding-top: 5rem; }

.md-max { max-width: $md-breakpoint !important; }

.relative { position: relative; }

.bg-green { background: linear-gradient(175deg, rgba(65,127,95,1) 0%, rgba(8,173,3,1) 35%); }

/* Selling points ***********************************************************/

.selling-points h2 {
  padding-top: 2rem;

  @media(min-width: $md-breakpoint) {
    padding-top: 0;
  }

  @media(min-width: $lg-breakpoint) {
    padding-top: 3rem;
  }
}

.selling-point {
  padding-bottom: 3rem;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (max-width: $lg-breakpoint - 1) {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: $lg-breakpoint) {
    padding-bottom: 0;
  }
}

@media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint) {
  .selling-points .one-third { width: 100%; }

  .selling-point .image-container,
  .selling-point .body-container {
    float: left;
  }

  .selling-point:nth-of-type(2) .image-container,
  .selling-point:nth-of-type(2) .body-container {
    float: right;
  }

  .selling-point .image-container {
    position: relative;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 33.333333%;
  }

  .selling-point .body-container {
    width: 66.666667%;
  }

  .selling-point .body-container h2 {
    margin-top: 0;
  }
}

/* Support & partners sections **********************************************/

.support { position: relative; }

/* White triangle decoration */
.support::before {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 60px solid white;
  font-size: 0;
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Offset show/hide button */
#show-partners,
#hide-partners {
  position: absolute;
  width: 100%;
  left: 0;
}

#show-partners { bottom: -5.25rem; }

#hide-partners { top: -5.25rem; }

/* Full width on mobile, fixed width on larger screens */
@media (min-width: $sm-breakpoint) {
  #show-partners,
  #hide-partners {
    width: 22rem;
    left: 50%;
    margin-left: -11rem;
  }
}

.partners {
  position: relative;

  dt, dd { font-size: 24px; }

  @media (min-width: $lg-breakpoint) {
    dt, dd { font-size: 32px; }
  }

  dd {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  @media (min-width: 768px) {
    dt {
      float: left;
      clear: left;
      width: 25%;
      text-align: right;
    }

    dd {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 3rem;
      padding-left: 25%;
    }
  }
}

/* Apply form ***************************************************************/

@media (min-width: $md-breakpoint) {
  .apply h3 { text-align: center; }
}

.error-message {
  display: inline-block;
  color: $red;
  margin-left: 1rem;
}