// Display /////////////////////////////////////////////////////////////////////

.block { display: block; }

@media (min-width: $md-breakpoint) {
  .sm-only { display: none; }
}

[hidden] { display: none !important; }

// Text ////////////////////////////////////////////////////////////////////////

.small { font-size: smaller; }

// Spacing /////////////////////////////////////////////////////////////////////

.py1 {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h1:first-of-type,
  h2:first-of-type {
    margin-top: 0;
  }
}

.py2 {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: $md-breakpoint) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: $lg-breakpoint) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  h1:first-of-type,
  h2:first-of-type {
    margin-top: 0;
  }
}

.my1 {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (min-width: $sm-breakpoint) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.my2 {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (min-width: $md-breakpoint) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  @media (min-width: $lg-breakpoint) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

// Backgrounds /////////////////////////////////////////////////////////////////

.bg-black {
  color: $white;
  background-color: $black;
}

.bg-white {
  color: $black;
  background-color: $white;
}

.bg-gray {
  color: $black;
  background-color: $gray-light;
}

.bg-gray-lighter {
  color: $black;
  background-color: $gray-lighter;
}

.bg-green {
  color: $white;
  background-color: $green;
}

.bg-red {
  color: $white;
  background-color: $red;
}

// Alignment //////////////////////////////////////////////////////////////

.text-center {
  text-align: center !important;
}

.image-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// Screen reader ///////////////////////////////////////////////////////////////

// Use this class to add screen reader / web crawler only content
//
// EG:
// - An h1 for SEO that is not visible
// - A skip-to link for screen readers

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
