<header class="navbar">
  <div class="container">
    <a href="index"
       class="site-title">
      <img src="/img/svg/aa-logo-green.svg"
           alt="Acceptables Ads logo">
      <span>Acceptable <strong>Ads</strong></span>
    </a>
    <nav>
      <a class="sr-only"
         href="#content">{{ 'Skip to main content' | translate('skip-to-main-content', 'Skip to main content link label (screen reader only)') }}</a>
      <ul role="menubar"
          aria-label="Navigation">
        {% for sitemap_page, sitemap_parent in sitemap %}
        <li class="{% if parent == sitemap_page or page == sitemap_page %}active{% endif %}"
            role="none">
          {{ sitemap_page | linkify(role="menuitem") }}
          {{ sitemap_parent | translate(sitemap_page, "Primary navigation label") }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
