<h2>Specific criteria</h2>

<div class="row">
  <div class="column one-half">
    <? include standard/criteria/column-1 ?>
  </div>
  <div class="column one-half">
    <? include standard/criteria/column-2 ?>
  </div>
</div>
